body {
	background-color: #d2d2d2;
}

.status-container-container {
	margin: 0 -4px 12px -4px;
	padding: 4px;
	border-left: 4px solid transparent;
}

.status-container-container:target {
	border-color: #777777;
}

.status-container-container.highlight {
	background-color: #eeeeee;
}

.status-container {
	display: flex;
}

.status-content {
	margin: 4px 0;
	max-height: 600px;
	overflow: auto;
	overflow-wrap: break-word;
}

.status-name {
	overflow-wrap: break-word;
}

.status-content p {
	margin: 0px;
}

.status-content img,
.status-image,
.status-video {
	height: auto;
	width: auto;
	max-height: 240px;
	max-width: 280px;
	vertical-align: bottom;
	object-fit: contain;
}

.status-media-container {
	margin: 5px 0 -5px 0;
	overflow: auto;
}

.status-media-container>a {
	margin-bottom: 5px;
	display: inline-block;
}

.status-profile-img-container {
	margin-right: 8px;
	display: inline-block;
	vertical-align: top;
}

.status-profile-img {
	height: 48px;
	width: 48px;
	min-height: 48px;
	min-width: 48px;
	max-height: 48px;
	max-width: 48px;
	vertical-align: top;
	object-fit: contain;
	margin-top: 2px;
}

.status {
	display: inline-block;
	vertical-align: top;
	flex: 1;
	min-width: 0;
}

.status-dname {
	font-style: italic;
	font-size: 0.8em;
}

.status-uname {
	user-select: all;
	font-style: italic;
	font-size: 10pt;
}

.status-action-container {
	margin-top: 4px;
}

.status-action {
	display: inline-block;
	margin-right: 16px;
}

.status-action-last {
	margin-right: 4px;
}

.status-action form {
	display: inline-block;
}

.status-action a {
	display: inline-block;
}

.status-action * {
	vertical-align: middle;
}

.status-action a.status-time {
	width: auto;
}

.page-title {
	font-size: 18pt;
	margin: 8px 0;
}

.post-form {
	margin: 4px 0;
}

.post-form>div {
	margin-bottom: 4px;
}

.signin-form {
	margin: 8px 0;
}

.signin-form input {
	margin: 4px 0;
}

.retweet-info {
	margin: 0 0 4px 24px;
	overflow-wrap: break-word;
}

.retweet-info .status-profile-img {
	height: 24px;
	width: 24px;
	min-height: 24px;
	min-width: 24px;
	max-height: 24px;
	max-width: 24px;
	vertical-align: middle;
}

.retweet-info .status-dname {
	margin-left: 4px;
}

.post-content {
	padding: 4px;
	font-size: 11pt;
	font-family: initial;
	width: 100%;
	box-sizing: border-box;
}

.pagination {
	margin: 4px 4px 12px 4px;
}

.pagination a {
	margin: 0 8px;
	font-size: 13pt;
}


.notification-container .retweet-info {
	opacity: 0.8;
}

.notification-container {
	margin: 0 -4px 12px -4px;
	padding: 4px;
	border-left: 4px solid transparent;
}

.notification-container.unread {
	border-color: #777777;
}

.notification-container.favourite .status-container,
.notification-container.reblog .status-container {
	opacity: 0.6;
	font-size: 0.75em;
}

.notification-follow-container {
	display: flex;
}

.notification-info-text span {
	vertical-align: middle;
}

.notification-follow-container {
	overflow: auto;
	display: flex;
	align-items: center;
}

.notification-follow {
	overflow: auto;
}

.notification-time {
	margin-left: 8px;
}

.status-reply-to-link {
	font-size: 10pt
}

.status-reply-container {
	overflow-wrap: break-word;
}

.status-reply-container .fa {
	font-size: 10pt;
	vertical-align: sub;
	margin-right: -2px;
}

.status-reply-text {
	font-size: 10pt;
}

.status-reply-link {
	font-size: 10pt;
}

.status-reply-info-divider {
	margin: 0 4px;
}

.post-content-container {
	padding-right: 8px;
}

.error-text {
	margin: 8px 0;
}

.post-attachment-div {
	margin: 2px 0;
}

.user-info-container {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.user-info-container > * {
	padding: 0.25em;
	background-color: rgba(210, 210, 210, 0.8);
}

.user-profile-img-container {
	display: inline-block;
	margin: 0 4px 4px 0;
	padding: 1em;
}

.user-profile-details-container {
	display: inline-block;
	vertical-align: top;
}

.user-profile-details-container>div {
	margin-bottom: 4px;
}

.user-profile-img {
	height: 96px;
	width: 96px;
	vertical-align: top;
	object-fit: contain;
	margin-top: 2px;
}

.user-profile-decription {
	overflow-wrap: break-word;
	margin: 8px 0;
}

.user-profile-decription p {
	margin: 0;
}

.d-inline {
	display: inline;
}

.btn-link {
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	padding: 0;
	font-family: inherit;
	font-size: inherit;
}

a, .btn-link, .status-uname {
	color: #464acc;
	text-decoration: none;
}

a:hover,
.btn-link:hover {
	color: #8387bf;
}

.status-visibility {
	margin-left: 4px;
	display: inline-block;
	color: #222222;
	font-size: 8pt;
}

.remote-link {
	margin-left: 4px;
	font-size: 8pt;
}

.img-link {
	display: inline-block;
	position: relative;
}

.status-profile-img-container .img-link {
	width: 48px;
}

.status-nsfw-overlay {
	background: black;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.img-link:hover .status-nsfw-overlay {
	display: none;
}

.status-video-container {
	display: inline-block;
	position: relative;
	margin-bottom: 5px;
}

.status-video-container:hover .status-nsfw-overlay {
	display: none;
}

.post-form-field>* {
	vertical-align: middle;
}

.emoji-item-container {
	min-width: 220px;
	display: inline-block;
	margin: 4px 0;
}

.emoji-item {
	display: flex;
	align-items: center;
}

img.emoji {
	height: auto;
	width: auto;
	max-height: 32px;
	max-width: 32px;
	min-height: 32px;
	min-width: 32px;
	vertical-align: middle;
	object-fit: contain;
	margin: 0;
}

.status-dname img.emoji {
	height: 24px;
	min-height: 24px;
	min-width: 24px;
}

.emoji-shortcode {
	margin-left: 4px;
}

.post-form-emoji-link {
	margin-left: 4px;
}

.user-info-img {
	height: 64px;
	width: 64px;
	vertical-align: middle;
	object-fit: contain;
	margin-top: 2px;
}

.user-info-img-container {
	float: left;
	margin-right: 8px;
}

.user-info-details-container {
	overflow: auto;
}

.user-info-details-name,
.user-info-details-nav {
	margin-bottom: 4px;
}

.nav-link {
	margin-right: 2px;
}

.user-list-container {
}

.user-list-item {
	overflow: auto;
	margin: 0 0 12px 0;
	display: flex;
	align-items: center;
}

.user-list-profile-img {
	float: left;
	margin: 0 8px 0 0;
}

.user-list-name {
	overflow: auto;
}

#settings-form {
	margin: 8px 0;
}

.settings-form-field {
	margin: 4px 0;
}

.settings-form-field>* {
	vertical-align: middle;
}

#settings-form button[type=submit] {
	margin-top: 8px;
}

#reply-popup {
	position: absolute;
	background-color: #d2d2d2;
	border: 1px solid #aaaaaa;
	padding: 4px 8px;
	z-index: 3;
	margin: 0;
}

#reply-to-popup {
	position: absolute;
	background-color: #d2d2d2;
	border: 1px solid #aaaaaa;
	padding: 4px 8px;
	z-index: 3;
	margin: 0;
}

.search-form {
	margin: 12px 0;
}

.more-container {
	position: relative;
	display: inline-block;
	z-index: 100;
}

.more-content {
	display: none;
	position: absolute;
	background-color: #d2d2d2;
	padding: 2px 4px;
	border: 1px solid #aaaaaa;
}

.more-container:hover .more-content {
	display: block;
}

.more-link {
	font-size: 8pt;
	display: block;
	margin: 2px;
}

.poll-form {
	margin-top: 5px;
	overflow: auto;
	overflow-wrap: break-word;
}

.poll-form button[type=submit] {
	margin-top: 6px;
}

.poll-info {
	margin-top: 6px;
}

.notification-title-container {
	margin: 8px 0;
}

.notification-text {
	vertical-align: middle;
}

.notification-refresh {
	margin-right: 8px;
}

.notification-read {
	display: inline-block;
}

.no-data-found {
	margin: 12px 0;
}

.signout {
	display: inline;
}

.signin-desc {
	margin: 8px 0 16px 0;
}

body {
	background-color: #ccccd0;
	color: #221;
}

.keyboard-shortcuts {
	margin-top: 12px;
}

.keyboard-shortcuts td {
	padding: 2px 4px;
}

kbd {
	border-radius: 3px;
	padding: 1px 4px;
	border: 1px solid #444444;
	background-color: #eeeeee;
	font-size: 10pt;
}

.quote {
	color: #789922;
}

.dark {
	background-color: #222222;
	background-image: none;
	color: #eaeaea;
}

.dark a, .dark .status-uname {
	color: #81a2be;
}

.dark #post-content {
	background-color: #333333;
	border: 1px solid #444444;
	color: #eaeaea;
}

.dark #reply-popup,
.dark #reply-to-popup {
	background-color: #222222;
	border-color: #444444;
}

.dark .status-container-container.highlight {
	background-color: #333333;
}

.dark .btn-link {
	color: #81a2be;
}

.dark a:hover,
.dark .btn-link:hover {
	color: #497091;
}

.dark .status-visibility {
	color: #eaeaea;
}

.dark .more-content {
	background-color: #222222;
	border-color: #444444;
}

.dark kbd {
	background-color: #333333;
	border-color: #444444;
	color: #eaeaea;
}

.dark .user-info-container > * {
	background-color: rgba(34, 34, 34, 0.8);
}

// TODO:  This should probably be moved to the static custom CSS:
.status-color-00 { background-color: rgba(  0,   0,   0, 0.1); }
.status-color-01 { background-color: rgba( 17, 127,   0, 0.1); }
.status-color-02 { background-color: rgba( 34, 254,   0, 0.1); }
.status-color-03 { background-color: rgba( 51, 126,   0, 0.1); }
.status-color-04 { background-color: rgba( 68, 253,   0, 0.1); }
.status-color-05 { background-color: rgba( 85, 125,   0, 0.1); }
.status-color-06 { background-color: rgba(102, 252,   0, 0.1); }
.status-color-07 { background-color: rgba(119, 124,   0, 0.1); }
.status-color-08 { background-color: rgba(136, 251,   0, 0.1); }
.status-color-09 { background-color: rgba(153, 123,   0, 0.1); }
.status-color-0a { background-color: rgba(170, 250,   0, 0.1); }
.status-color-0b { background-color: rgba(187, 122,   0, 0.1); }
.status-color-0c { background-color: rgba(204, 249,   0, 0.1); }
.status-color-0d { background-color: rgba(221, 121,   0, 0.1); }
.status-color-0e { background-color: rgba(238, 248,   0, 0.1); }
.status-color-0f { background-color: rgba(255, 120,   0, 0.1); }
.status-color-10 { background-color: rgba(  0, 247,  17, 0.1); }
.status-color-11 { background-color: rgba( 17, 119,  17, 0.1); }
.status-color-12 { background-color: rgba( 34, 246,  17, 0.1); }
.status-color-13 { background-color: rgba( 51, 118,  17, 0.1); }
.status-color-14 { background-color: rgba( 68, 245,  17, 0.1); }
.status-color-15 { background-color: rgba( 85, 117,  17, 0.1); }
.status-color-16 { background-color: rgba(102, 244,  17, 0.1); }
.status-color-17 { background-color: rgba(119, 116,  17, 0.1); }
.status-color-18 { background-color: rgba(136, 243,  17, 0.1); }
.status-color-19 { background-color: rgba(153, 115,  17, 0.1); }
.status-color-1a { background-color: rgba(170, 242,  17, 0.1); }
.status-color-1b { background-color: rgba(187, 114,  17, 0.1); }
.status-color-1c { background-color: rgba(204, 241,  17, 0.1); }
.status-color-1d { background-color: rgba(221, 113,  17, 0.1); }
.status-color-1e { background-color: rgba(238, 240,  17, 0.1); }
.status-color-1f { background-color: rgba(255, 112,  17, 0.1); }
.status-color-20 { background-color: rgba(  0, 239,  34, 0.1); }
.status-color-21 { background-color: rgba( 17, 111,  34, 0.1); }
.status-color-22 { background-color: rgba( 34, 238,  34, 0.1); }
.status-color-23 { background-color: rgba( 51, 110,  34, 0.1); }
.status-color-24 { background-color: rgba( 68, 237,  34, 0.1); }
.status-color-25 { background-color: rgba( 85, 109,  34, 0.1); }
.status-color-26 { background-color: rgba(102, 236,  34, 0.1); }
.status-color-27 { background-color: rgba(119, 108,  34, 0.1); }
.status-color-28 { background-color: rgba(136, 235,  34, 0.1); }
.status-color-29 { background-color: rgba(153, 107,  34, 0.1); }
.status-color-2a { background-color: rgba(170, 234,  34, 0.1); }
.status-color-2b { background-color: rgba(187, 106,  34, 0.1); }
.status-color-2c { background-color: rgba(204, 233,  34, 0.1); }
.status-color-2d { background-color: rgba(221, 105,  34, 0.1); }
.status-color-2e { background-color: rgba(238, 232,  34, 0.1); }
.status-color-2f { background-color: rgba(255, 104,  34, 0.1); }
.status-color-30 { background-color: rgba(  0, 231,  51, 0.1); }
.status-color-31 { background-color: rgba( 17, 103,  51, 0.1); }
.status-color-32 { background-color: rgba( 34, 230,  51, 0.1); }
.status-color-33 { background-color: rgba( 51, 102,  51, 0.1); }
.status-color-34 { background-color: rgba( 68, 229,  51, 0.1); }
.status-color-35 { background-color: rgba( 85, 101,  51, 0.1); }
.status-color-36 { background-color: rgba(102, 228,  51, 0.1); }
.status-color-37 { background-color: rgba(119, 100,  51, 0.1); }
.status-color-38 { background-color: rgba(136, 227,  51, 0.1); }
.status-color-39 { background-color: rgba(153,  99,  51, 0.1); }
.status-color-3a { background-color: rgba(170, 226,  51, 0.1); }
.status-color-3b { background-color: rgba(187,  98,  51, 0.1); }
.status-color-3c { background-color: rgba(204, 225,  51, 0.1); }
.status-color-3d { background-color: rgba(221,  97,  51, 0.1); }
.status-color-3e { background-color: rgba(238, 224,  51, 0.1); }
.status-color-3f { background-color: rgba(255,  96,  51, 0.1); }
.status-color-40 { background-color: rgba(  0, 223,  68, 0.1); }
.status-color-41 { background-color: rgba( 17,  95,  68, 0.1); }
.status-color-42 { background-color: rgba( 34, 222,  68, 0.1); }
.status-color-43 { background-color: rgba( 51,  94,  68, 0.1); }
.status-color-44 { background-color: rgba( 68, 221,  68, 0.1); }
.status-color-45 { background-color: rgba( 85,  93,  68, 0.1); }
.status-color-46 { background-color: rgba(102, 220,  68, 0.1); }
.status-color-47 { background-color: rgba(119,  92,  68, 0.1); }
.status-color-48 { background-color: rgba(136, 219,  68, 0.1); }
.status-color-49 { background-color: rgba(153,  91,  68, 0.1); }
.status-color-4a { background-color: rgba(170, 218,  68, 0.1); }
.status-color-4b { background-color: rgba(187,  90,  68, 0.1); }
.status-color-4c { background-color: rgba(204, 217,  68, 0.1); }
.status-color-4d { background-color: rgba(221,  89,  68, 0.1); }
.status-color-4e { background-color: rgba(238, 216,  68, 0.1); }
.status-color-4f { background-color: rgba(255,  88,  68, 0.1); }
.status-color-50 { background-color: rgba(  0, 215,  85, 0.1); }
.status-color-51 { background-color: rgba( 17,  87,  85, 0.1); }
.status-color-52 { background-color: rgba( 34, 214,  85, 0.1); }
.status-color-53 { background-color: rgba( 51,  86,  85, 0.1); }
.status-color-54 { background-color: rgba( 68, 213,  85, 0.1); }
.status-color-55 { background-color: rgba( 85,  85,  85, 0.1); }
.status-color-56 { background-color: rgba(102, 212,  85, 0.1); }
.status-color-57 { background-color: rgba(119,  84,  85, 0.1); }
.status-color-58 { background-color: rgba(136, 211,  85, 0.1); }
.status-color-59 { background-color: rgba(153,  83,  85, 0.1); }
.status-color-5a { background-color: rgba(170, 210,  85, 0.1); }
.status-color-5b { background-color: rgba(187,  82,  85, 0.1); }
.status-color-5c { background-color: rgba(204, 209,  85, 0.1); }
.status-color-5d { background-color: rgba(221,  81,  85, 0.1); }
.status-color-5e { background-color: rgba(238, 208,  85, 0.1); }
.status-color-5f { background-color: rgba(255,  80,  85, 0.1); }
.status-color-60 { background-color: rgba(  0, 207, 102, 0.1); }
.status-color-61 { background-color: rgba( 17,  79, 102, 0.1); }
.status-color-62 { background-color: rgba( 34, 206, 102, 0.1); }
.status-color-63 { background-color: rgba( 51,  78, 102, 0.1); }
.status-color-64 { background-color: rgba( 68, 205, 102, 0.1); }
.status-color-65 { background-color: rgba( 85,  77, 102, 0.1); }
.status-color-66 { background-color: rgba(102, 204, 102, 0.1); }
.status-color-67 { background-color: rgba(119,  76, 102, 0.1); }
.status-color-68 { background-color: rgba(136, 203, 102, 0.1); }
.status-color-69 { background-color: rgba(153,  75, 102, 0.1); }
.status-color-6a { background-color: rgba(170, 202, 102, 0.1); }
.status-color-6b { background-color: rgba(187,  74, 102, 0.1); }
.status-color-6c { background-color: rgba(204, 201, 102, 0.1); }
.status-color-6d { background-color: rgba(221,  73, 102, 0.1); }
.status-color-6e { background-color: rgba(238, 200, 102, 0.1); }
.status-color-6f { background-color: rgba(255,  72, 102, 0.1); }
.status-color-70 { background-color: rgba(  0, 199, 119, 0.1); }
.status-color-71 { background-color: rgba( 17,  71, 119, 0.1); }
.status-color-72 { background-color: rgba( 34, 198, 119, 0.1); }
.status-color-73 { background-color: rgba( 51,  70, 119, 0.1); }
.status-color-74 { background-color: rgba( 68, 197, 119, 0.1); }
.status-color-75 { background-color: rgba( 85,  69, 119, 0.1); }
.status-color-76 { background-color: rgba(102, 196, 119, 0.1); }
.status-color-77 { background-color: rgba(119,  68, 119, 0.1); }
.status-color-78 { background-color: rgba(136, 195, 119, 0.1); }
.status-color-79 { background-color: rgba(153,  67, 119, 0.1); }
.status-color-7a { background-color: rgba(170, 194, 119, 0.1); }
.status-color-7b { background-color: rgba(187,  66, 119, 0.1); }
.status-color-7c { background-color: rgba(204, 193, 119, 0.1); }
.status-color-7d { background-color: rgba(221,  65, 119, 0.1); }
.status-color-7e { background-color: rgba(238, 192, 119, 0.1); }
.status-color-7f { background-color: rgba(255,  64, 119, 0.1); }
.status-color-80 { background-color: rgba(  0, 191, 136, 0.1); }
.status-color-81 { background-color: rgba( 17,  63, 136, 0.1); }
.status-color-82 { background-color: rgba( 34, 190, 136, 0.1); }
.status-color-83 { background-color: rgba( 51,  62, 136, 0.1); }
.status-color-84 { background-color: rgba( 68, 189, 136, 0.1); }
.status-color-85 { background-color: rgba( 85,  61, 136, 0.1); }
.status-color-86 { background-color: rgba(102, 188, 136, 0.1); }
.status-color-87 { background-color: rgba(119,  60, 136, 0.1); }
.status-color-88 { background-color: rgba(136, 187, 136, 0.1); }
.status-color-89 { background-color: rgba(153,  59, 136, 0.1); }
.status-color-8a { background-color: rgba(170, 186, 136, 0.1); }
.status-color-8b { background-color: rgba(187,  58, 136, 0.1); }
.status-color-8c { background-color: rgba(204, 185, 136, 0.1); }
.status-color-8d { background-color: rgba(221,  57, 136, 0.1); }
.status-color-8e { background-color: rgba(238, 184, 136, 0.1); }
.status-color-8f { background-color: rgba(255,  56, 136, 0.1); }
.status-color-90 { background-color: rgba(  0, 183, 153, 0.1); }
.status-color-91 { background-color: rgba( 17,  55, 153, 0.1); }
.status-color-92 { background-color: rgba( 34, 182, 153, 0.1); }
.status-color-93 { background-color: rgba( 51,  54, 153, 0.1); }
.status-color-94 { background-color: rgba( 68, 181, 153, 0.1); }
.status-color-95 { background-color: rgba( 85,  53, 153, 0.1); }
.status-color-96 { background-color: rgba(102, 180, 153, 0.1); }
.status-color-97 { background-color: rgba(119,  52, 153, 0.1); }
.status-color-98 { background-color: rgba(136, 179, 153, 0.1); }
.status-color-99 { background-color: rgba(153,  51, 153, 0.1); }
.status-color-9a { background-color: rgba(170, 178, 153, 0.1); }
.status-color-9b { background-color: rgba(187,  50, 153, 0.1); }
.status-color-9c { background-color: rgba(204, 177, 153, 0.1); }
.status-color-9d { background-color: rgba(221,  49, 153, 0.1); }
.status-color-9e { background-color: rgba(238, 176, 153, 0.1); }
.status-color-9f { background-color: rgba(255,  48, 153, 0.1); }
.status-color-a0 { background-color: rgba(  0, 175, 170, 0.1); }
.status-color-a1 { background-color: rgba( 17,  47, 170, 0.1); }
.status-color-a2 { background-color: rgba( 34, 174, 170, 0.1); }
.status-color-a3 { background-color: rgba( 51,  46, 170, 0.1); }
.status-color-a4 { background-color: rgba( 68, 173, 170, 0.1); }
.status-color-a5 { background-color: rgba( 85,  45, 170, 0.1); }
.status-color-a6 { background-color: rgba(102, 172, 170, 0.1); }
.status-color-a7 { background-color: rgba(119,  44, 170, 0.1); }
.status-color-a8 { background-color: rgba(136, 171, 170, 0.1); }
.status-color-a9 { background-color: rgba(153,  43, 170, 0.1); }
.status-color-aa { background-color: rgba(170, 170, 170, 0.1); }
.status-color-ab { background-color: rgba(187,  42, 170, 0.1); }
.status-color-ac { background-color: rgba(204, 169, 170, 0.1); }
.status-color-ad { background-color: rgba(221,  41, 170, 0.1); }
.status-color-ae { background-color: rgba(238, 168, 170, 0.1); }
.status-color-af { background-color: rgba(255,  40, 170, 0.1); }
.status-color-b0 { background-color: rgba(  0, 167, 187, 0.1); }
.status-color-b1 { background-color: rgba( 17,  39, 187, 0.1); }
.status-color-b2 { background-color: rgba( 34, 166, 187, 0.1); }
.status-color-b3 { background-color: rgba( 51,  38, 187, 0.1); }
.status-color-b4 { background-color: rgba( 68, 165, 187, 0.1); }
.status-color-b5 { background-color: rgba( 85,  37, 187, 0.1); }
.status-color-b6 { background-color: rgba(102, 164, 187, 0.1); }
.status-color-b7 { background-color: rgba(119,  36, 187, 0.1); }
.status-color-b8 { background-color: rgba(136, 163, 187, 0.1); }
.status-color-b9 { background-color: rgba(153,  35, 187, 0.1); }
.status-color-ba { background-color: rgba(170, 162, 187, 0.1); }
.status-color-bb { background-color: rgba(187,  34, 187, 0.1); }
.status-color-bc { background-color: rgba(204, 161, 187, 0.1); }
.status-color-bd { background-color: rgba(221,  33, 187, 0.1); }
.status-color-be { background-color: rgba(238, 160, 187, 0.1); }
.status-color-bf { background-color: rgba(255,  32, 187, 0.1); }
.status-color-c0 { background-color: rgba(  0, 159, 204, 0.1); }
.status-color-c1 { background-color: rgba( 17,  31, 204, 0.1); }
.status-color-c2 { background-color: rgba( 34, 158, 204, 0.1); }
.status-color-c3 { background-color: rgba( 51,  30, 204, 0.1); }
.status-color-c4 { background-color: rgba( 68, 157, 204, 0.1); }
.status-color-c5 { background-color: rgba( 85,  29, 204, 0.1); }
.status-color-c6 { background-color: rgba(102, 156, 204, 0.1); }
.status-color-c7 { background-color: rgba(119,  28, 204, 0.1); }
.status-color-c8 { background-color: rgba(136, 155, 204, 0.1); }
.status-color-c9 { background-color: rgba(153,  27, 204, 0.1); }
.status-color-ca { background-color: rgba(170, 154, 204, 0.1); }
.status-color-cb { background-color: rgba(187,  26, 204, 0.1); }
.status-color-cc { background-color: rgba(204, 153, 204, 0.1); }
.status-color-cd { background-color: rgba(221,  25, 204, 0.1); }
.status-color-ce { background-color: rgba(238, 152, 204, 0.1); }
.status-color-cf { background-color: rgba(255,  24, 204, 0.1); }
.status-color-d0 { background-color: rgba(  0, 151, 221, 0.1); }
.status-color-d1 { background-color: rgba( 17,  23, 221, 0.1); }
.status-color-d2 { background-color: rgba( 34, 150, 221, 0.1); }
.status-color-d3 { background-color: rgba( 51,  22, 221, 0.1); }
.status-color-d4 { background-color: rgba( 68, 149, 221, 0.1); }
.status-color-d5 { background-color: rgba( 85,  21, 221, 0.1); }
.status-color-d6 { background-color: rgba(102, 148, 221, 0.1); }
.status-color-d7 { background-color: rgba(119,  20, 221, 0.1); }
.status-color-d8 { background-color: rgba(136, 147, 221, 0.1); }
.status-color-d9 { background-color: rgba(153,  19, 221, 0.1); }
.status-color-da { background-color: rgba(170, 146, 221, 0.1); }
.status-color-db { background-color: rgba(187,  18, 221, 0.1); }
.status-color-dc { background-color: rgba(204, 145, 221, 0.1); }
.status-color-dd { background-color: rgba(221,  17, 221, 0.1); }
.status-color-de { background-color: rgba(238, 144, 221, 0.1); }
.status-color-df { background-color: rgba(255,  16, 221, 0.1); }
.status-color-e0 { background-color: rgba(  0, 143, 238, 0.1); }
.status-color-e1 { background-color: rgba( 17,  15, 238, 0.1); }
.status-color-e2 { background-color: rgba( 34, 142, 238, 0.1); }
.status-color-e3 { background-color: rgba( 51,  14, 238, 0.1); }
.status-color-e4 { background-color: rgba( 68, 141, 238, 0.1); }
.status-color-e5 { background-color: rgba( 85,  13, 238, 0.1); }
.status-color-e6 { background-color: rgba(102, 140, 238, 0.1); }
.status-color-e7 { background-color: rgba(119,  12, 238, 0.1); }
.status-color-e8 { background-color: rgba(136, 139, 238, 0.1); }
.status-color-e9 { background-color: rgba(153,  11, 238, 0.1); }
.status-color-ea { background-color: rgba(170, 138, 238, 0.1); }
.status-color-eb { background-color: rgba(187,  10, 238, 0.1); }
.status-color-ec { background-color: rgba(204, 137, 238, 0.1); }
.status-color-ed { background-color: rgba(221,   9, 238, 0.1); }
.status-color-ee { background-color: rgba(238, 136, 238, 0.1); }
.status-color-ef { background-color: rgba(255,   8, 238, 0.1); }
.status-color-f0 { background-color: rgba(  0, 135, 255, 0.1); }
.status-color-f1 { background-color: rgba( 17,   7, 255, 0.1); }
.status-color-f2 { background-color: rgba( 34, 134, 255, 0.1); }
.status-color-f3 { background-color: rgba( 51,   6, 255, 0.1); }
.status-color-f4 { background-color: rgba( 68, 133, 255, 0.1); }
.status-color-f5 { background-color: rgba( 85,   5, 255, 0.1); }
.status-color-f6 { background-color: rgba(102, 132, 255, 0.1); }
.status-color-f7 { background-color: rgba(119,   4, 255, 0.1); }
.status-color-f8 { background-color: rgba(136, 131, 255, 0.1); }
.status-color-f9 { background-color: rgba(153,   3, 255, 0.1); }
.status-color-fa { background-color: rgba(170, 130, 255, 0.1); }
.status-color-fb { background-color: rgba(187,   2, 255, 0.1); }
.status-color-fc { background-color: rgba(204, 129, 255, 0.1); }
.status-color-fd { background-color: rgba(221,   1, 255, 0.1); }
.status-color-fe { background-color: rgba(238, 128, 255, 0.1); }
.status-color-ff { background-color: rgba(255,   0, 255, 0.1); }
