.status-container-container {
	margin: 12px 0 12px -4px;
	padding: 4px;
	border-left: 4px solid transparent;
}

.status-container-container:target {
	border-color: #777777;
}

.status-container-container.highlight {
	background-color: #cccccc;
}

.status-container {
	display: flex;
}

.status-content {
	margin: 4px 0;
	word-wrap: anywhere;
	max-height: 600px;
	overflow: auto;
}

.status-content p {
	margin: 0px;
}

.status-content img,
.status-image,
.status-video {
	max-height: 240px;
	max-width: 280px;
	width: auto;
	vertical-align: bottom;
}

.status-media-container {
	margin: 4px 0;
}

.status-profile-img-container {
	margin-right: 8px;
}

.status-profile-img {
	height: 48px;
	width: 48px;
	object-fit: contain;
	vertical-align: top;
}

.status {
	flex: 1;
	overflow-x: auto;
}

.status-dname {
	font-style: italic;
	font-size: 0.8em;
}

.status-uname {
	user-select: all;
}

.name-emoji {
	height: 20px;
	width: auto;
}

.status-action-container {
	margin-top: 4px;
}

.status-action {
	display: inline-block;
	margin-right: 16px;
}

.status-action:last-child {
	margin-right: 4px;
}

.status-action form {
	display: inline-block;
}

.status-action a {
	display: inline-block;
}

.status-action * {
	verical-align: center;
}

.status-action a.status-time {
	width: auto;
}

.page-title {
	font-size: 18pt;
}

.post-form {
	margin: 8px 0;
}

.post-form>div {
	margin-bottom: 4px;
}

.signin-form {
	margin: 8px 0;
}

.signin-form input {
	margin: 4px 0;
}

.retweet-info {
	margin: 0 0 2px 24px;	
}

.retweet-info .status-profile-img {
	height: 24px;
	width: 24px;
	vertical-align: middle;
}

.retweet-info .status-dname{
	margin-left: 4px
}

.post-content {
	padding: 4px;
	font-size: 11pt;
	font-family: initial;
	max-width: 100%;
}

.pagination {
	margin: 4px;
}

.pagination a {
	margin: 0 8px;
}

.notification-container .retweet-info {
	opacity: 0.8;
}

.notification-container {
	margin: 16px 0 16px -4px;
	padding: 0 4px;
	border-left: 4px solid transparent;
}

.notification-container.unread {
	border-color: #777777;
}

.notification-follow-container {
	display: flex;
}

.notification-info-text span {
	vertical-align: middle;
}

.notification-follow-uname {
	margin-top: 8px;
}

.notification-time {
	margin-left: 8px;
}

.status-reply-to {
	display: inline-block;
	vertical-align: center;
}

.status-reply-to-link {
	font-size: 10pt
}

.status-reply-container .fa {
	font-size: 10pt;
	vertical-align: sub;
	margin-right: -2px;
}

.status-reply-text {
	font-size: 10pt;
}

.status-reply {
	display: inline-block;
}

.status-reply-link {
	font-size: 10pt;
}

.status-reply-info-divider {
	margin: 0 4px;
}

.post-content-container {
	padding-right: 8px;
}

.error-text {
	margin: 8px 0;
}

.post-attachment-div {
	margin: 2px 0;
}

.user-profile-img-container {
	display: inline-block
}

.user-profile-details-container {
	display: inline-block;
	vertical-align: top;
	margin: 0 4px;
}

.user-profile-details-container>div {
	margin-bottom: 4px;
}

.user-profile-img {
	max-height: 100px;
	max-width: 100px;
	object-fit: contain;
	vertical-align: top;
}

.user-profile-decription {
	margin: 4px 0;
}

.d-inline {
	display: inline;
}

.btn-link {
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	padding: 0;
	font-family: inherit;
	font-size: inherit;
}

a, .btn-link, .status-uname {
	color: #464acc;
	text-decoration: none;
}

a:hover,
.btn-link:hover {
	opacity: 0.6;
}

.status-visibility {
	margin-left: 4px;
	display: inline-block;
	color: #222222;
	font-size: 8pt;
}

.remote-link {
	margin-left: 4px;
	font-size: 8pt;
}

.img-link {
	display: inline-block;
	position: relative;
	margin: 2.5px 0;
}

.img-link:hover {
	opacity: initial;
}

.status-profile-img-container .img-link {
	width: 48px;
	overflow: hidden;
}

.status-nsfw-overlay {
	height: 100%;
	width: 100%;
	background: black;
	position: absolute;
	top: 0;
	left: 0;
}

.img-link:hover .status-nsfw-overlay {
	display: none;
}

.status-video-container {
	display: inline-block;
	position: relative;
	margin: 2.5px 0;
}

.status-video-container:hover .status-nsfw-overlay {
	display: none;
}

.post-form-field>* {
  vertical-align: middle;
}

.emoji-item {
	min-width: 220px;
	display: inline-block;
	margin: 4px 0;
}

img.emoji {
	height: 32px;
	object-fit: contain;
	vertical-align: middle;
}

.status-dname img.emoji {
	height: 24px;
}

.emoji-shortcode {
	user-select: all;
	vertical-align: middle;
	display: inline-block;
}

.post-form-emoji-link {
	margin-left: 4px;
}

.post-form-emoji-link i {
	font-size: 14pt !important;
}

.post-form-title {
	vertical-align: middle;
}

.user-info {
	margin-bottom: 8px;
	display: flex;
	align-items: top;
}

.user-info-img {
	max-height: 64px;
	max-width: 64px;
	object-fit: contain;
	vertical-align: middle;
}

.user-info-details-container {
	margin-left: 8px;
}

.user-info-details-container>div {
	margin-bottom: 4px;
}

.nav-link {
	margin-right: 2px;
}

.user-list-container {
	margin: 8px 0;
}

.user-list-item>div {
	display: inline-block;
	vertical-align: top;
	margin: 0 4px 8px 0;
}

#settings-form {
	margin: 8px 0;
}

.settings-form-field {
	margin: 4px 0;
}

.settings-form-field * {
	vertical-align: middle;
}

#settings-form button[type=submit] {
	margin-top: 8px;
}

#reply-popup {
	position: absolute;
	background: #ffffff;
	border: 1px solid #aaaaaa;
	padding: 4px 8px;
	z-index: 3;
	margin: 0;
}

#reply-to-popup {
	position: absolute;
	background: #ffffff;
	border: 1px solid #aaaaaa;
	padding: 4px 8px;
	z-index: 3;
	margin: 0;
}

.search-form {
	margin: 16px 0 16px 0;
}

.more-container {
	position: relative;
	display: inline-block;
	z-index: 100;
}

.more-content {
	display: none;
	position: absolute;
	background-color: #ffffff;
	padding: 2px 4px;
	border: 1px solid #aaaaaa;
	right: 0;
}

.more-container:hover .more-content {
	display: initial;
}

.more-link {
	font-size: 8pt;
	display: block;
	margin: 2px;
}

.poll-form button[type=submit] {
	margin-top: 6px;
}

.poll-info {
	margin-top: 6px;
}

.notification-title-container>* {
	display: inline;
}

.notification-title {
	font-size: 18pt;
	margin-right: 8px;
}

.notification-refresh {
	margin-right: 8px;
}

.no-data-found {
	margin: 12px 0;
}

.signout {
	display: inline;
}

.signin-desc {
	margin: 8px 0 16px 0;
}

body {
	background-color: #ccccd0;
	color: #221;
}

.dark {
	background-color: #222222;
	background-image: none;
	color: #eaeaea;
}

.dark a, .dark .status-uname {
	color: #81a2be;
}

.dark #post-content {
	background-color: #333333;
	border: 1px solid #444444;
	color: #eaeaea;
}

.dark #reply-popup,
.dark #reply-to-popup {
	background-color: #222222;
	border-color: #444444;
}

.dark .status-container-container.highlight {
	background-color: #333333;
}

.dark .btn-link {
	color: #81a2be;
}

.dark .status-visibility {
	color: #eaeaea;
}

.dark .more-content {
	background-color: #222222;
	border-color: #444444;
}

.status-color-00 { background-color: rgba(  0,   0,   0, 0.2); }
.status-color-01 { background-color: rgba( 17,  17,   0, 0.2); }
.status-color-02 { background-color: rgba( 34,  34,   0, 0.2); }
.status-color-03 { background-color: rgba( 51,  51,   0, 0.2); }
.status-color-04 { background-color: rgba( 68,  68,   0, 0.2); }
.status-color-05 { background-color: rgba( 85,  85,   0, 0.2); }
.status-color-06 { background-color: rgba(102, 102,   0, 0.2); }
.status-color-07 { background-color: rgba(119, 119,   0, 0.2); }
.status-color-08 { background-color: rgba(136, 136,   0, 0.2); }
.status-color-09 { background-color: rgba(153, 153,   0, 0.2); }
.status-color-0a { background-color: rgba(170, 170,   0, 0.2); }
.status-color-0b { background-color: rgba(187, 187,   0, 0.2); }
.status-color-0c { background-color: rgba(204, 204,   0, 0.2); }
.status-color-0d { background-color: rgba(221, 221,   0, 0.2); }
.status-color-0e { background-color: rgba(238, 238,   0, 0.2); }
.status-color-0f { background-color: rgba(255, 255,   0, 0.2); }
.status-color-10 { background-color: rgba(  0,  17,  17, 0.2); }
.status-color-11 { background-color: rgba( 17,  34,  17, 0.2); }
.status-color-12 { background-color: rgba( 34,  51,  17, 0.2); }
.status-color-13 { background-color: rgba( 51,  68,  17, 0.2); }
.status-color-14 { background-color: rgba( 68,  85,  17, 0.2); }
.status-color-15 { background-color: rgba( 85, 102,  17, 0.2); }
.status-color-16 { background-color: rgba(102, 119,  17, 0.2); }
.status-color-17 { background-color: rgba(119, 136,  17, 0.2); }
.status-color-18 { background-color: rgba(136, 153,  17, 0.2); }
.status-color-19 { background-color: rgba(153, 170,  17, 0.2); }
.status-color-1a { background-color: rgba(170, 187,  17, 0.2); }
.status-color-1b { background-color: rgba(187, 204,  17, 0.2); }
.status-color-1c { background-color: rgba(204, 221,  17, 0.2); }
.status-color-1d { background-color: rgba(221, 238,  17, 0.2); }
.status-color-1e { background-color: rgba(238, 255,  17, 0.2); }
.status-color-1f { background-color: rgba(255,   0,  17, 0.2); }
.status-color-20 { background-color: rgba(  0,  34,  34, 0.2); }
.status-color-21 { background-color: rgba( 17,  51,  34, 0.2); }
.status-color-22 { background-color: rgba( 34,  68,  34, 0.2); }
.status-color-23 { background-color: rgba( 51,  85,  34, 0.2); }
.status-color-24 { background-color: rgba( 68, 102,  34, 0.2); }
.status-color-25 { background-color: rgba( 85, 119,  34, 0.2); }
.status-color-26 { background-color: rgba(102, 136,  34, 0.2); }
.status-color-27 { background-color: rgba(119, 153,  34, 0.2); }
.status-color-28 { background-color: rgba(136, 170,  34, 0.2); }
.status-color-29 { background-color: rgba(153, 187,  34, 0.2); }
.status-color-2a { background-color: rgba(170, 204,  34, 0.2); }
.status-color-2b { background-color: rgba(187, 221,  34, 0.2); }
.status-color-2c { background-color: rgba(204, 238,  34, 0.2); }
.status-color-2d { background-color: rgba(221, 255,  34, 0.2); }
.status-color-2e { background-color: rgba(238,   0,  34, 0.2); }
.status-color-2f { background-color: rgba(255,  17,  34, 0.2); }
.status-color-30 { background-color: rgba(  0,  51,  51, 0.2); }
.status-color-31 { background-color: rgba( 17,  68,  51, 0.2); }
.status-color-32 { background-color: rgba( 34,  85,  51, 0.2); }
.status-color-33 { background-color: rgba( 51, 102,  51, 0.2); }
.status-color-34 { background-color: rgba( 68, 119,  51, 0.2); }
.status-color-35 { background-color: rgba( 85, 136,  51, 0.2); }
.status-color-36 { background-color: rgba(102, 153,  51, 0.2); }
.status-color-37 { background-color: rgba(119, 170,  51, 0.2); }
.status-color-38 { background-color: rgba(136, 187,  51, 0.2); }
.status-color-39 { background-color: rgba(153, 204,  51, 0.2); }
.status-color-3a { background-color: rgba(170, 221,  51, 0.2); }
.status-color-3b { background-color: rgba(187, 238,  51, 0.2); }
.status-color-3c { background-color: rgba(204, 255,  51, 0.2); }
.status-color-3d { background-color: rgba(221,   0,  51, 0.2); }
.status-color-3e { background-color: rgba(238,  17,  51, 0.2); }
.status-color-3f { background-color: rgba(255,  34,  51, 0.2); }
.status-color-40 { background-color: rgba(  0,  68,  68, 0.2); }
.status-color-41 { background-color: rgba( 17,  85,  68, 0.2); }
.status-color-42 { background-color: rgba( 34, 102,  68, 0.2); }
.status-color-43 { background-color: rgba( 51, 119,  68, 0.2); }
.status-color-44 { background-color: rgba( 68, 136,  68, 0.2); }
.status-color-45 { background-color: rgba( 85, 153,  68, 0.2); }
.status-color-46 { background-color: rgba(102, 170,  68, 0.2); }
.status-color-47 { background-color: rgba(119, 187,  68, 0.2); }
.status-color-48 { background-color: rgba(136, 204,  68, 0.2); }
.status-color-49 { background-color: rgba(153, 221,  68, 0.2); }
.status-color-4a { background-color: rgba(170, 238,  68, 0.2); }
.status-color-4b { background-color: rgba(187, 255,  68, 0.2); }
.status-color-4c { background-color: rgba(204,   0,  68, 0.2); }
.status-color-4d { background-color: rgba(221,  17,  68, 0.2); }
.status-color-4e { background-color: rgba(238,  34,  68, 0.2); }
.status-color-4f { background-color: rgba(255,  51,  68, 0.2); }
.status-color-50 { background-color: rgba(  0,  85,  85, 0.2); }
.status-color-51 { background-color: rgba( 17, 102,  85, 0.2); }
.status-color-52 { background-color: rgba( 34, 119,  85, 0.2); }
.status-color-53 { background-color: rgba( 51, 136,  85, 0.2); }
.status-color-54 { background-color: rgba( 68, 153,  85, 0.2); }
.status-color-55 { background-color: rgba( 85, 170,  85, 0.2); }
.status-color-56 { background-color: rgba(102, 187,  85, 0.2); }
.status-color-57 { background-color: rgba(119, 204,  85, 0.2); }
.status-color-58 { background-color: rgba(136, 221,  85, 0.2); }
.status-color-59 { background-color: rgba(153, 238,  85, 0.2); }
.status-color-5a { background-color: rgba(170, 255,  85, 0.2); }
.status-color-5b { background-color: rgba(187,   0,  85, 0.2); }
.status-color-5c { background-color: rgba(204,  17,  85, 0.2); }
.status-color-5d { background-color: rgba(221,  34,  85, 0.2); }
.status-color-5e { background-color: rgba(238,  51,  85, 0.2); }
.status-color-5f { background-color: rgba(255,  68,  85, 0.2); }
.status-color-60 { background-color: rgba(  0, 102, 102, 0.2); }
.status-color-61 { background-color: rgba( 17, 119, 102, 0.2); }
.status-color-62 { background-color: rgba( 34, 136, 102, 0.2); }
.status-color-63 { background-color: rgba( 51, 153, 102, 0.2); }
.status-color-64 { background-color: rgba( 68, 170, 102, 0.2); }
.status-color-65 { background-color: rgba( 85, 187, 102, 0.2); }
.status-color-66 { background-color: rgba(102, 204, 102, 0.2); }
.status-color-67 { background-color: rgba(119, 221, 102, 0.2); }
.status-color-68 { background-color: rgba(136, 238, 102, 0.2); }
.status-color-69 { background-color: rgba(153, 255, 102, 0.2); }
.status-color-6a { background-color: rgba(170,   0, 102, 0.2); }
.status-color-6b { background-color: rgba(187,  17, 102, 0.2); }
.status-color-6c { background-color: rgba(204,  34, 102, 0.2); }
.status-color-6d { background-color: rgba(221,  51, 102, 0.2); }
.status-color-6e { background-color: rgba(238,  68, 102, 0.2); }
.status-color-6f { background-color: rgba(255,  85, 102, 0.2); }
.status-color-70 { background-color: rgba(  0, 119, 119, 0.2); }
.status-color-71 { background-color: rgba( 17, 136, 119, 0.2); }
.status-color-72 { background-color: rgba( 34, 153, 119, 0.2); }
.status-color-73 { background-color: rgba( 51, 170, 119, 0.2); }
.status-color-74 { background-color: rgba( 68, 187, 119, 0.2); }
.status-color-75 { background-color: rgba( 85, 204, 119, 0.2); }
.status-color-76 { background-color: rgba(102, 221, 119, 0.2); }
.status-color-77 { background-color: rgba(119, 238, 119, 0.2); }
.status-color-78 { background-color: rgba(136, 255, 119, 0.2); }
.status-color-79 { background-color: rgba(153,   0, 119, 0.2); }
.status-color-7a { background-color: rgba(170,  17, 119, 0.2); }
.status-color-7b { background-color: rgba(187,  34, 119, 0.2); }
.status-color-7c { background-color: rgba(204,  51, 119, 0.2); }
.status-color-7d { background-color: rgba(221,  68, 119, 0.2); }
.status-color-7e { background-color: rgba(238,  85, 119, 0.2); }
.status-color-7f { background-color: rgba(255, 102, 119, 0.2); }
.status-color-80 { background-color: rgba(  0, 136, 136, 0.2); }
.status-color-81 { background-color: rgba( 17, 153, 136, 0.2); }
.status-color-82 { background-color: rgba( 34, 170, 136, 0.2); }
.status-color-83 { background-color: rgba( 51, 187, 136, 0.2); }
.status-color-84 { background-color: rgba( 68, 204, 136, 0.2); }
.status-color-85 { background-color: rgba( 85, 221, 136, 0.2); }
.status-color-86 { background-color: rgba(102, 238, 136, 0.2); }
.status-color-87 { background-color: rgba(119, 255, 136, 0.2); }
.status-color-88 { background-color: rgba(136,   0, 136, 0.2); }
.status-color-89 { background-color: rgba(153,  17, 136, 0.2); }
.status-color-8a { background-color: rgba(170,  34, 136, 0.2); }
.status-color-8b { background-color: rgba(187,  51, 136, 0.2); }
.status-color-8c { background-color: rgba(204,  68, 136, 0.2); }
.status-color-8d { background-color: rgba(221,  85, 136, 0.2); }
.status-color-8e { background-color: rgba(238, 102, 136, 0.2); }
.status-color-8f { background-color: rgba(255, 119, 136, 0.2); }
.status-color-90 { background-color: rgba(  0, 153, 153, 0.2); }
.status-color-91 { background-color: rgba( 17, 170, 153, 0.2); }
.status-color-92 { background-color: rgba( 34, 187, 153, 0.2); }
.status-color-93 { background-color: rgba( 51, 204, 153, 0.2); }
.status-color-94 { background-color: rgba( 68, 221, 153, 0.2); }
.status-color-95 { background-color: rgba( 85, 238, 153, 0.2); }
.status-color-96 { background-color: rgba(102, 255, 153, 0.2); }
.status-color-97 { background-color: rgba(119,   0, 153, 0.2); }
.status-color-98 { background-color: rgba(136,  17, 153, 0.2); }
.status-color-99 { background-color: rgba(153,  34, 153, 0.2); }
.status-color-9a { background-color: rgba(170,  51, 153, 0.2); }
.status-color-9b { background-color: rgba(187,  68, 153, 0.2); }
.status-color-9c { background-color: rgba(204,  85, 153, 0.2); }
.status-color-9d { background-color: rgba(221, 102, 153, 0.2); }
.status-color-9e { background-color: rgba(238, 119, 153, 0.2); }
.status-color-9f { background-color: rgba(255, 136, 153, 0.2); }
.status-color-a0 { background-color: rgba(  0, 170, 170, 0.2); }
.status-color-a1 { background-color: rgba( 17, 187, 170, 0.2); }
.status-color-a2 { background-color: rgba( 34, 204, 170, 0.2); }
.status-color-a3 { background-color: rgba( 51, 221, 170, 0.2); }
.status-color-a4 { background-color: rgba( 68, 238, 170, 0.2); }
.status-color-a5 { background-color: rgba( 85, 255, 170, 0.2); }
.status-color-a6 { background-color: rgba(102,   0, 170, 0.2); }
.status-color-a7 { background-color: rgba(119,  17, 170, 0.2); }
.status-color-a8 { background-color: rgba(136,  34, 170, 0.2); }
.status-color-a9 { background-color: rgba(153,  51, 170, 0.2); }
.status-color-aa { background-color: rgba(170,  68, 170, 0.2); }
.status-color-ab { background-color: rgba(187,  85, 170, 0.2); }
.status-color-ac { background-color: rgba(204, 102, 170, 0.2); }
.status-color-ad { background-color: rgba(221, 119, 170, 0.2); }
.status-color-ae { background-color: rgba(238, 136, 170, 0.2); }
.status-color-af { background-color: rgba(255, 153, 170, 0.2); }
.status-color-b0 { background-color: rgba(  0, 187, 187, 0.2); }
.status-color-b1 { background-color: rgba( 17, 204, 187, 0.2); }
.status-color-b2 { background-color: rgba( 34, 221, 187, 0.2); }
.status-color-b3 { background-color: rgba( 51, 238, 187, 0.2); }
.status-color-b4 { background-color: rgba( 68, 255, 187, 0.2); }
.status-color-b5 { background-color: rgba( 85,   0, 187, 0.2); }
.status-color-b6 { background-color: rgba(102,  17, 187, 0.2); }
.status-color-b7 { background-color: rgba(119,  34, 187, 0.2); }
.status-color-b8 { background-color: rgba(136,  51, 187, 0.2); }
.status-color-b9 { background-color: rgba(153,  68, 187, 0.2); }
.status-color-ba { background-color: rgba(170,  85, 187, 0.2); }
.status-color-bb { background-color: rgba(187, 102, 187, 0.2); }
.status-color-bc { background-color: rgba(204, 119, 187, 0.2); }
.status-color-bd { background-color: rgba(221, 136, 187, 0.2); }
.status-color-be { background-color: rgba(238, 153, 187, 0.2); }
.status-color-bf { background-color: rgba(255, 170, 187, 0.2); }
.status-color-c0 { background-color: rgba(  0, 204, 204, 0.2); }
.status-color-c1 { background-color: rgba( 17, 221, 204, 0.2); }
.status-color-c2 { background-color: rgba( 34, 238, 204, 0.2); }
.status-color-c3 { background-color: rgba( 51, 255, 204, 0.2); }
.status-color-c4 { background-color: rgba( 68,   0, 204, 0.2); }
.status-color-c5 { background-color: rgba( 85,  17, 204, 0.2); }
.status-color-c6 { background-color: rgba(102,  34, 204, 0.2); }
.status-color-c7 { background-color: rgba(119,  51, 204, 0.2); }
.status-color-c8 { background-color: rgba(136,  68, 204, 0.2); }
.status-color-c9 { background-color: rgba(153,  85, 204, 0.2); }
.status-color-ca { background-color: rgba(170, 102, 204, 0.2); }
.status-color-cb { background-color: rgba(187, 119, 204, 0.2); }
.status-color-cc { background-color: rgba(204, 136, 204, 0.2); }
.status-color-cd { background-color: rgba(221, 153, 204, 0.2); }
.status-color-ce { background-color: rgba(238, 170, 204, 0.2); }
.status-color-cf { background-color: rgba(255, 187, 204, 0.2); }
.status-color-d0 { background-color: rgba(  0, 221, 221, 0.2); }
.status-color-d1 { background-color: rgba( 17, 238, 221, 0.2); }
.status-color-d2 { background-color: rgba( 34, 255, 221, 0.2); }
.status-color-d3 { background-color: rgba( 51,   0, 221, 0.2); }
.status-color-d4 { background-color: rgba( 68,  17, 221, 0.2); }
.status-color-d5 { background-color: rgba( 85,  34, 221, 0.2); }
.status-color-d6 { background-color: rgba(102,  51, 221, 0.2); }
.status-color-d7 { background-color: rgba(119,  68, 221, 0.2); }
.status-color-d8 { background-color: rgba(136,  85, 221, 0.2); }
.status-color-d9 { background-color: rgba(153, 102, 221, 0.2); }
.status-color-da { background-color: rgba(170, 119, 221, 0.2); }
.status-color-db { background-color: rgba(187, 136, 221, 0.2); }
.status-color-dc { background-color: rgba(204, 153, 221, 0.2); }
.status-color-dd { background-color: rgba(221, 170, 221, 0.2); }
.status-color-de { background-color: rgba(238, 187, 221, 0.2); }
.status-color-df { background-color: rgba(255, 204, 221, 0.2); }
.status-color-e0 { background-color: rgba(  0, 238, 238, 0.2); }
.status-color-e1 { background-color: rgba( 17, 255, 238, 0.2); }
.status-color-e2 { background-color: rgba( 34,   0, 238, 0.2); }
.status-color-e3 { background-color: rgba( 51,  17, 238, 0.2); }
.status-color-e4 { background-color: rgba( 68,  34, 238, 0.2); }
.status-color-e5 { background-color: rgba( 85,  51, 238, 0.2); }
.status-color-e6 { background-color: rgba(102,  68, 238, 0.2); }
.status-color-e7 { background-color: rgba(119,  85, 238, 0.2); }
.status-color-e8 { background-color: rgba(136, 102, 238, 0.2); }
.status-color-e9 { background-color: rgba(153, 119, 238, 0.2); }
.status-color-ea { background-color: rgba(170, 136, 238, 0.2); }
.status-color-eb { background-color: rgba(187, 153, 238, 0.2); }
.status-color-ec { background-color: rgba(204, 170, 238, 0.2); }
.status-color-ed { background-color: rgba(221, 187, 238, 0.2); }
.status-color-ee { background-color: rgba(238, 204, 238, 0.2); }
.status-color-ef { background-color: rgba(255, 221, 238, 0.2); }
.status-color-f0 { background-color: rgba(  0, 255, 255, 0.2); }
.status-color-f1 { background-color: rgba( 17,   0, 255, 0.2); }
.status-color-f2 { background-color: rgba( 34,  17, 255, 0.2); }
.status-color-f3 { background-color: rgba( 51,  34, 255, 0.2); }
.status-color-f4 { background-color: rgba( 68,  51, 255, 0.2); }
.status-color-f5 { background-color: rgba( 85,  68, 255, 0.2); }
.status-color-f6 { background-color: rgba(102,  85, 255, 0.2); }
.status-color-f7 { background-color: rgba(119, 102, 255, 0.2); }
.status-color-f8 { background-color: rgba(136, 119, 255, 0.2); }
.status-color-f9 { background-color: rgba(153, 136, 255, 0.2); }
.status-color-fa { background-color: rgba(170, 153, 255, 0.2); }
.status-color-fb { background-color: rgba(187, 170, 255, 0.2); }
.status-color-fc { background-color: rgba(204, 187, 255, 0.2); }
.status-color-fd { background-color: rgba(221, 204, 255, 0.2); }
.status-color-fe { background-color: rgba(238, 221, 255, 0.2); }
.status-color-ff { background-color: rgba(255, 238, 255, 0.2); }
