{{with .Data}}
{{template "header.tmpl" (WithContext .CommonData $.Ctx)}}
<div class="page-title"> Search </div>

<form class="search-form" action="/search" method="GET">
	<span class="post-form-field">
		<label for="query"> Query </label>
		<input id="query" name="q" value="{{.Q}}">
	</span>
	<input type="submit" name="type" value="statuses">
	<input type="submit" name="type" value="accounts">
</form>

{{if eq .Type "statuses"}}
{{range .Statuses}}
{{template "status.tmpl" (WithContext . $.Ctx)}}
{{else}}
{{if .Q}}<div class="no-data-found">No data found</div>{{end}}
{{end}}
{{end}}

{{if eq .Type "accounts"}}
{{template "userlist.tmpl" (WithContext .Users $.Ctx)}}
{{end}}

<div class="pagination">
	{{if .NextLink}}
		<a href="{{.NextLink}}">[next]</a>
	{{end}}
</div>

{{template "footer.tmpl"}}
{{end}}
