{{with .Data}}
{{template "header.tmpl" (WithContext .CommonData $.Ctx)}}
<div class="page-title"> Bloat </div>
<div class="signin-desc">
	An excellent web client from <a target="_blank" href="https://git.freesoftwareextremist.com/bloat">Free<em>Software</em>Extremist</a>, hosted by <a target="_blank" href="https://freespeechextremist.com/">Free<em>Speech</em>Extremist</a>.
</div>

<form class="signin-form" action="/signin" method="post">
	<p>Enter the domain name of your instance to authorize Bloat.  (If you are here, the default is probably correct.)</p>
	<input type="text" name="instance" value="freespeechextremist.com" required>
	<br/>
	<button type="submit">Sign in</button>
</form>

<p>
	See
	<a href="https://git.freesoftwareextremist.com/bloat" target="_blank">git.freesoftwareextremist.com/bloat</a>
	for more details.
</P>

{{template "footer.tmpl"}}
{{end}}
